<div class="row">
  <div class="col-sm-4">
    <h1>
      <strong>TooDoo</strong>
      <i class="fa fa-flag text-primary"></i>
      <small class="hidden-xs hidden-sm hidden-md">neat to-do list</small>
    </h1>
  </div>
  
  <div id="new_task" class="col-sm-8">
    <%= render 'remote_form' %>
  </div>
</div>

<hr>

<div class="row">
  
  <div id="todo" class="board col-sm-4">
    <h2 class="inline-block">
      <small><i class="fa fa-clock-o text-warning"></i></small>
      To Do
    </h1>

    <div class="tasks">
      <% if @todo.count == 0 %>
      <div class="alert alert-warning">
        <p><strong>No tasks to do...</strong> Create a <strong>new task</strong> in the form above</p>
      </div>
      <% else %>
      <%= render :partial => "task", :collection => @todo, :as => :task %>
      <% end %>
    </div>
  </div>
  
  <div id="doin" class="board col-sm-4">
    <h2 class="inline-block">
      <small><i class="fa fa-play-circle-o text-info"></i></small>
      Doing
    </h2>
    
    <div class="tasks">
      <% if @doin.count == 0 %>
      <div class="alert alert-info">
        <p><strong>Doing no tasks...</strong> Start a task in <strong>To Do</strong></p>
      </div>
      <% else %>
      <%= render :partial => "task", :collection => @doin, :as => :task %>
      <% end %>
    </div>
  </div>

  <div id="done" class="board col-sm-4">
    <h2 class="inline-block">
      <small><i class="fa fa-check-circle-o text-success"></i></small>
      Done
    </h2>
    
    <div class="tasks">
      <% if @done.count == 0 %>
      <div class="alert alert-success">
        <p><strong>No tasks done...</strong> Finish a task in <strong>Doing</strong></p>
      </div>
      <% else %>
      <%= render :partial => "task", :collection => @done, :as => :task %>
      <% end %>
    </div>
  </div>
  
</div>

<br>

