// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task {
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 10px;
}

.board {
  height: 80vh;
  overflow-y: scroll;
}

.inline-block {
  display: inline-block;
}

div.right-aligned {
  float: right;
}